* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #000000;
	color: #ffffff;
	font-size: 48px;
	font-family: Ubuntu Mono, sans-serif;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
